$navBackground:#072fa8;
$navbackgroundFade:#587ff5;
.bottomNav{
    display: none;
}


@media (max-width:1024px) {
    .bottomNav{
        display: block;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        position:fixed;
        bottom: 0;
        list-style: none;
        padding-top: 5px;
        box-shadow: 0px -2px  1px rgba(214, 211, 211, 0.2);
        li .bottomNav__Link{
            text-decoration: none;
            display: flex;
            flex-direction: column;
            text-align: center;
            color:$navbackgroundFade;
        }
        li{
            .active{
                color:$navBackground;
            }
        }
    }
}