#nav {
  width: 100vw;
  min-width: 310px;
  border-bottom: 1px solid #0139DD;
  position: fixed;
  top: 0px;
  background-color: white;
}

#nav__container1 {
  padding-top: 10px;
  background-color: #0139DD;
}

#nav__container1 #nav__container1__content {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  height: 37px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 310px;
}

#nav__container1 #nav__container1__content #nav__container1__content__logo {
  width: 100px;
  font-size: 20px;
}

#nav__container1 #nav__container1__content #nav__container1__content__account {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 320px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

#nav__container1 #nav__container1__content #nav__container1__content__account .nav__container1__content__account_container {
  border-left: 1px solid black;
  padding-left: 15px;
  padding-right: 0px;
  height: 25px;
}

#nav__container1 #nav__container1__content #nav__container1__content__account .nav__container1__content__account_container_1 {
  padding-right: 30px;
}

#nav__container1 #nav__container1__content #nav__container1__content__account .nav__container1__content__account_container_2 {
  padding-right: 10px;
}

#nav__container1 #nav__container1__content #nav__container1__content__account #nav__container1__content__account_container_1_id {
  position: relative;
}

#nav__container1 #nav__container1__content #nav__container1__content__account .nav__container1__content__account_container .Link {
  text-decoration: none;
  color: white;
  line-height: 20px;
}

#nav__container2 {
  width: 100%;
  margin-top: 10px;
}

#nav__container2 #nav__container2__row2Nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 50%;
  min-width: 420px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 30px;
}

#nav__container2 #nav__container2__row2Nav li {
  margin: 0;
  padding: 0;
  position: relative;
}

#nav__container2 #nav__container2__row2Nav li Link {
  color: black;
}

#nav__container2 #nav__container2__row2Nav li .Link:hover {
  cursor: pointer;
  color: #0E4CFF;
}

#nav__container2 #nav__container2__row2Nav li .Link {
  text-decoration: none;
  padding: 5px 8px 5px 8px;
}

#nav__container2 #nav__container2__row2Nav li .Link .nav__container2__row2Nav__school {
  position: absolute;
  height: auto;
  width: 230px;
  padding: 10px;
  top: 25px;
  left: 0px;
  z-index: 10;
  list-style: none;
  background-color: #0139DD;
  color: white;
  display: none;
}

#nav__container2 #nav__container2__row2Nav li .Link .nav__container2__row2Nav__school li:hover {
  color: black;
}

#nav__container2 #nav__container2__row2Nav li .Link .nav__container2__row2Nav__school li .checkSchool {
  cursor: pointer;
}

#nav__container2 #nav__container2__row2Nav li .Link .nav__container2__row2Nav__league {
  position: absolute;
  height: auto;
  width: 200px;
  padding: 10px;
  top: 25px;
  left: 0px;
  z-index: 10;
  list-style: none;
  background-color: #0139DD;
  color: white;
  display: none;
}

#nav__container2 #nav__container2__row2Nav li .Link .nav__container2__row2Nav__league li:hover {
  color: black;
}

#nav__container2 #nav__container2__row2Nav li .Link .nav__container2__row2Nav__league li .checkSchool {
  cursor: pointer;
}

#nav__container2 #nav__container2__row2Nav li .Link .nav__container2__row2Nav__school::before {
  content: " ";
  position: absolute;
  top: -3px;
  width: 20px;
  height: 20px;
  background-color: #0139DD;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

#nav__container2 #nav__container2__row2Nav li .Link .nav__container2__row2Nav__league::before {
  content: " ";
  position: absolute;
  top: -3px;
  width: 20px;
  height: 20px;
  background-color: #0139DD;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

#nav__container2 #nav__container2__row2Nav li .Link span {
  position: absolute;
  width: 0;
  -webkit-transition: width 200ms, height 3s;
  transition: width 200ms, height 3s;
  background-color: #0139DD;
  bottom: 0px;
  left: 0;
  right: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#nav__container2 #nav__container2__row2Nav li .Link .active {
  height: 3px;
  width: 100%;
}

#nav__container2 #nav__container2__row2Nav li .Link1:hover .nav__container2__row2Nav__school {
  display: block;
}

#nav__container2 #nav__container2__row2Nav li .Link2:hover .nav__container2__row2Nav__league {
  display: block;
}

#nav__container2 #nav__container2__row2Nav li:hover .Link span {
  height: 4px;
  width: 100%;
  background-color: #0E4CFF;
}

@media (max-width: 1024px) {
  #nav__container1 #nav__container1__content {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    width: 100%;
  }
  #nav__container1 #nav__container1__content li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #nav__container1 #nav__container1__content #nav__container1__content__logo {
    padding-left: 10px;
  }
  #nav__container1 #nav__container1__content #nav__container1__content__account {
    width: 200px;
  }
  #nav__container1 #nav__container1__content #nav__container1__content__account .nav__container1__content__account_container {
    padding-left: 20px;
    padding-right: 5px;
    height: 25px;
  }
  #nav__container1 #nav__container1__content #nav__container1__content__account .nav__container1__content__account_container_1 {
    width: 130px;
  }
  #nav__container2 {
    width: 100%;
  }
  #nav__container2 #nav__container2__row2Nav {
    width: 100%;
    min-width: 310px;
  }
  #nav__container2 #nav__container2__row2Nav li:nth-child(1) {
    display: none;
  }
  #nav__container2 #nav__container2__row2Nav li:nth-child(7) {
    display: none;
  }
}

@media (max-width: 637px) {
  .nav__container1__content__account_container_2 {
    display: none;
  }
}

@media (max-width: 445px) {
  #nav__container1 #nav__container1__content #nav__container1__content__account {
    min-width: 225px;
  }
}

@media (max-width: 420px) {
  #nav__container1 #nav__container1__content #nav__container1__content__account .nav__container1__content__account_container {
    border-left: 1px solid black;
    padding-left: 13px;
    padding-right: 25px;
    height: 25px;
  }
  #nav__container1 #nav__container1__content #nav__container1__content__account .nav__container1__content__account_container_2 {
    padding-right: 5px;
    padding-left: 5px;
  }
  #nav__container1 #nav__container1__content #nav__container1__content__account .nav__container1__content__account_container_1 {
    padding-right: 100px;
    width: 190px;
  }
  #nav__container1 #nav__container1__content #nav__container1__content__account .nav__container1__content__account_container_3 {
    padding-right: 5px;
  }
}
/*# sourceMappingURL=homeNav.css.map */