$navBackground:#0139DD;
$navbackgroundFade:#0E4CFF;
$minWidth:310px;



@mixin dropDown($width) {
    position: absolute;
    height: auto;
    width: $width;
    padding: 10px;
    top: 25px;
    left: 0px;
    list-style: none;
    background-color: $navbackgroundFade;
    color: white;
    display: none;
    li:hover{
        color: black;
        
    }
    li .checkSchool{
        cursor: pointer;
    }
}

@mixin point() {
    content: " ";
    position: absolute;
    top: -3px;
    width: 20px;
    height: 20px;
    background-color: $navbackgroundFade;
    transform: rotate(40deg);
}
#nav{
    width: 100vw;
    min-width:$minWidth;
    border-bottom: 1px solid $navBackground;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 2;
}
#nav__container1{
    padding-top: 10px;
    background-color:$navBackground;
    #nav__container1__content{ 
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        list-style: none;
        height: 37px;
        justify-content: space-between;
        min-width:$minWidth ;
        #nav__container1__content__logo{
            width: 100px;
            font-size: 20px;
        }
        #nav__container1__content__account{
                list-style: none;
                display: flex;
                flex-direction: row;
                width: 320px;
                justify-content: right; 
            .nav__container1__content__account_container{
                border-left: 1px solid black;
                padding-left: 15px;
                padding-right: 0px;
                height: 25px;
            }
            .nav__container1__content__account_container_1{
                padding-right: 30px;
            }
            .nav__container1__content__account_container_2{
                padding-right: 10px;
            }
            #nav__container1__content__account_container_1_id{
                position: relative;
            }
            .nav__container1__content__account_container .Link{
                text-decoration: none;
                color: white;
                line-height: 20px;
            }
        }
    }
}
#nav__container2{
    width: 100%;
    margin-top: 10px;
    #nav__container2__row2Nav{
        list-style: none;
        display: flex;
        margin: 0 auto;
        width: 50%;
        min-width:420px;
        justify-content: space-evenly;
        height: 30px;
        li{
            margin: 0;
            padding: 0;
            position: relative;
        }
        li Link{
            color: black;
        }
        li .Link:hover{
            cursor: pointer;
            color:$navbackgroundFade;
        }
        li .Link{
            text-decoration: none;
            padding: 5px 8px 5px 8px;     
            .nav__container2__row2Nav__school{
                @include dropDown(230px);
            }
            .nav__container2__row2Nav__league{
                @include dropDown(200px);
            }
            .nav__container2__row2Nav__school::before{
                @include point
            }
            .nav__container2__row2Nav__league::before{
                @include point
            }
            span{
                position: absolute;
                width: 0;
                transition: width 200ms, height 3s;
                background-color:$navBackground;
                bottom: 0px;
                left: 0;
                right: 0;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            .active{
                height: 3px;
                width: 100%;
            }
        }
        li .Link1:hover .nav__container2__row2Nav__school{
            display:block;
        }
        li .Link2:hover .nav__container2__row2Nav__league{
            display:block;
        }
        li:hover .Link span{
            height: 4px;
            width: 100%;
            background-color:$navbackgroundFade ;
        }
    }
}
@media(max-width:1024px) {
    #nav__container1{
        #nav__container1__content{ 
            justify-content: unset;

            width: 100%;
            li{
                flex: 1;
            }
            #nav__container1__content__logo{
                padding-left: 10px;
            }
            #nav__container1__content__account{
                width: 200px;
                .nav__container1__content__account_container{
                    padding-left: 20px;
                    padding-right: 5px;
                    height: 25px;
                }
                .nav__container1__content__account_container_1{
                    width: 130px;
                }
            }
        }
    }
    #nav__container2{
        width: 100%;
        
        #nav__container2__row2Nav{
            width: 100%;
            min-width: $minWidth;
            li:nth-child(1){
               display: none;
            }
            li:nth-child(7){
                display: none;
             }
        }
    }
}
@media(max-width:637px) {
    .nav__container1__content__account_container_2{
      display: none;
    }
}
@media(max-width:445px) {
    #nav__container1{
        #nav__container1__content{ 
            #nav__container1__content__account{
                min-width: 225px;
            }
        }
    }
}
@media(max-width:420px) {
    #nav__container1{
        #nav__container1__content{
            #nav__container1__content__account{
                .nav__container1__content__account_container{
                    border-left: 1px solid black;
                    padding-left: 13px;
                    padding-right: 25px;
                    height: 25px;
                }
                .nav__container1__content__account_container_2{
                    padding-right:5px;
                    padding-left:5px;
                }
                .nav__container1__content__account_container_1{
                    padding-right: 100px;
                    width: 190px;
                }
                .nav__container1__content__account_container_3{
                    padding-right: 5px;
                }
            }
        }
    }
}