.amountConatainer{
    height: 100%;
    width: 105px;
    #password{
        width: 100px;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 17px;
        padding-left:1px;
        position: absolute;
        top:2px;
        padding-right: 4px;
    }
    .amountConatainer__icon{
        position:absolute;
        left: 2px;
        font-size: 17px;
        padding-left: 4px;
    }
    .amountConatainer__vi{
        position: absolute;
        right: 32px;
        padding-right: 4px;
    }
    .amountConatainer_load{
        position: absolute;
        right: 5px;
        width: 22px;
        height: 22px;
        padding-right: 4px;
    }
    .refresh{
        animation:load1 400ms  ease-in;
    }
    input:focus{
        outline: none;
    }
    @keyframes load1{
        from{ transform: rotate(0deg);}
        to{ transform: rotate(-100deg);}
    }
}

@media(max-width:429px){
    .amountConatainer{
        width: 90px;
        display: inline;
        #password{
            padding-left:7px;
            width: 70px;
        }
        .amountConatainer__vi{
            padding-left:5px;
            position: absolute;
            right: 24px;
        }
        .amountConatainer_load{
            right: 0px;
        }
        .amountConatainer__icon{
            top: 1px;
        }
    }   
}